[submodule "work"]
	path = work
	active = true
	url = https://github.com/Hexeption/MCP-Reborn.git
[submodule "upstream"]
	path = upstream
	active = true
	url = https://github.com/Hexeption/MCP-Reborn.git
